@import "../../Scss/common/colors";

.navbar {
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: 10000;
  background: rgba(0, 0, 0, .75);
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  
  &-menu {
    display: inline-flex;
    column-gap: 5px;
    
    a {
      color: cornsilk;
    }
  }
}
